############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# Virtual environments
############################
.venv/
venv/
env/

############################
# Logs e temporários
############################
*.log
*.tmp

############################
# Modelos e dados pesados
############################
models/
voices/
piper-voices/

############################
# Áudio (testes / samples)
############################
*.wav

############################
# Editor / IDE
############################
.vscode/

############################
# Ficheiros do sistema
############################
.DS_Store
Thumbs.db

############################
# Outros
############################
.gitignore.save
